<!DOCTYPE html>
<!-- This site was created in Webflow. http://www.webflow.com-->
<!-- Last Published: Sun Apr 27 2014 03:43:17 GMT+0000 (UTC) -->
<html data-wf-site="52f1b3efadd5fecd1b0000f4">
<head>
  <meta charset="utf-8">
  <title>SherBook Holmes</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="generator" content="Webflow">
  <link rel="stylesheet" type="text/css" href="css/normalize.css">
  <link rel="stylesheet" type="text/css" href="css/webflow.css">
  <link rel="stylesheet" type="text/css" href="css/buzz-app.webflow.css">
        <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
      <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css">
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
  <script>
    WebFont.load({
      google: {
        families: ["Montserrat:400,700","Bitter:400,700,400italic"]
      }
    });
  </script>
  <script type="text/javascript" src="js/modernizr.js"></script>

  <link rel="shortcut icon" type="image/x-icon" href="https://y7v4p6k4.ssl.hwcdn.net/placeholder/favicon.ico">
</head>
<body>
  <div class="title-section">
    <div class="w-container">
      <img src="images/title.png" width="319" alt="535c4287bcf0378e580003af_title.png">
    </div>
  </div>
  <div class="main-section">
    <div class="w-container">
      <div class="w-row">

        <div class="w-col w-col-12">
          <h2><small>See on a more visual way what kind of Music, TV Show, Books and Movies your friends like the most</small></h2>
          <a href="auth/facebook" class="btn btn-primary">Connect with Facebook</a>
        </div>
      </div>
    </div>
  </div>
  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script type="text/javascript" src="js/webflow.js"></script>
  <!--[if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
</body>
</html>